header {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 32px;
    background-color: #f5ba13;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
 header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }